/**---------------circular table css------------*/

.circular-title {
    font-size:  30px;
    padding-top:  30px;
    padding-bottom:  30px;
    text-align:  center;
    text-transform:  capitalize;
    text-decoration:  underline;
}